body {
  font-family: helvetica;
  background: #f3f4f6;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  background: #f3f4f6;
}
button {
  background-color: #000000;
  border: none;
  border-radius: 10px;
  color: white;
  margin-right: 16px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #f80000;
}

.valor {
  text-align: center;
  background-color: #ff0000;
  border: none;
  border-radius: 10px;
  color: white;
  margin-right: 16px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.nav-links a {
  margin-right: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.nav-links a:hover {
  background-color: #f80000;
}

a {
  text-decoration: none;
}
.container {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 480px;
}

.box-nav {
  background-color: #000000;
  border: none;
  border-radius: 10px;
  color: white;
  margin-right: 16px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-linha {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  background: #008207;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
